{% extends "goods/catalog_detail.html" %}
{% load i18n crispy_forms_tags %}

{% block title %}
{{block.super}} | {% trans 'delete' %}
{% endblock %}

{% block crumbs %}
{{ block.super }}
<li class="breadcrumb-item"><a href="{% url 'goods:catalog-delete' object.slug %}">{% trans 'delete' %}</a></li>
{% endblock crumbs %}

{% block page_title %}
{% trans 'Delete' %}: {{object.name}}
{% endblock page_title %}

{% block content %}
<div class="container-fluid col-6">

  <div class="card card-info">
    <div class="card-header">
      <h3 class="card-title">{% trans 'Form' %}</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form class="form-horizontal" method="post">
      <div class="card-body">
	{% csrf_token %}
	{{ form|crispy }}
	<p> {% trans 'Do you really want to delete this entry?' %} </p>
      </div>
      <!-- /.card-body -->
      <div class="card-footer">
	<button type="submit" class="btn btn-default">{% trans 'Yes' %}</button>
	<a type="button" href="{% url 'goods:catalog-list' %}" class="btn btn-default float-right">{% trans 'No' %}</a>
      </div>
      <!-- /.card-footer -->
    </form>
  </div>

</div>
{% endblock %}
